.wrapper {
  padding: 15px;
  border: 1px solid #ddd;
}

.dotted {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f5f5f5;
  color: #aaa;
  min-height: 150px;
  border-radius: 5px;
  border: dashed 2px #ddd;
}

.thumbnail-container {
  display: flex;
  margin-top: 20px;
}

.thumbnail-wrapper {
  border: 1px solid #ddd;
  border-radius: 2px;
  width: 100px;
  height: 100px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.image {
  display: block;
  width: auto;
  height: 100%;
}
